{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "printWidth": 100,
  "plugins": ["stylefmt", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "proseWrap": "preserve",
  "requirePragma": false,
  "useTabs": false
}
